.btnContainer {
  display: flex;
  padding: 16px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.btnsDisabled {
  pointer-events: none;
  opacity: 0.3;
}

.card {
  width: 50px;
  padding: 4px;

  cursor: pointer;
}

.mobileCard {
  width: 20px;
  padding-right: 5px;
}

.selectedCard {
  width: 60px;
  padding: 4px;
}

.mobileMenuItem {
  display: flex;
  align-items: center;
  flex-direction: row;
}
